body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
    color: blue;
}

canvas {
    border: 1px solid #ccc;
    background-color: #fff;
align-items: center;
}